@page
@model LOVIT.Tracker.Pages.Admin.Participants.EditModel
@using LOVIT.Tracker.Models

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Participant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Participant.Id" />
            <div class="form-group">
                <label asp-for="Participant.Bib" class="control-label"></label>
                <input asp-for="Participant.Bib" class="form-control" />
                <span asp-validation-for="Participant.Bib" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.FirstName" class="control-label"></label>
                <input asp-for="Participant.FirstName" class="form-control" />
                <span asp-validation-for="Participant.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.LastName" class="control-label"></label>
                <input asp-for="Participant.LastName" class="form-control" />
                <span asp-validation-for="Participant.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.City" class="control-label"></label>
                <input asp-for="Participant.City" class="form-control" />
                <span asp-validation-for="Participant.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.Region" class="control-label"></label>
                <input asp-for="Participant.Region" class="form-control" />
                <span asp-validation-for="Participant.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.Age" class="control-label"></label>
                <input asp-for="Participant.Age" class="form-control" />
                <span asp-validation-for="Participant.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.Gender" class="control-label"></label>
                <select asp-for="Participant.Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                <span asp-validation-for="Participant.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.RaceId" class="control-label"></label>
                <select asp-for="Participant.RaceId" class="form-control" asp-items="ViewBag.RaceId"></select>
                <span asp-validation-for="Participant.RaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.Status" class="control-label"></label>
                <select asp-for="Participant.Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control"></select>
                <span asp-validation-for="Participant.Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Participant.Linked" /> @Html.DisplayNameFor(model => model.Participant.Linked)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Participant.PictureUrl" class="control-label"></label>
                <input asp-for="Participant.PictureUrl" class="form-control" />
                <span asp-validation-for="Participant.PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.Rank" class="control-label"></label>
                <input asp-for="Participant.Rank" class="form-control" />
                <span asp-validation-for="Participant.Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant.UltraSignupEmail" class="control-label"></label>
                <input asp-for="Participant.UltraSignupEmail" class="form-control" />
                <span asp-validation-for="Participant.UltraSignupEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
