@page
@model LinkModel
@{
    ViewData["Title"] = "Linked Account";
}

<div class="row">
    <div class="col">
        You have linked your account to your participant profile. 
        <a asp-page="/participants/index" asp-route-id="@Model.Participant.BibOrId">Click here</a> to visit your participant page.
    </div>
</div>