@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <h1 class="text-danger">Whoops!</h1>
        <h2 class="text-danger">That wasn't supposed to happen.</h2>
        <p>Try again by navigating with the links in the menu above. If you continue to get this error and need some help, send an email to <a href="mailto:dustin@runlovit.com?Error! Request ID: @Model.RequestId">dustin@runlovit.com</a>.</p>
    </div>
</div>

@if (Model.ShowRequestId)
{
    <div>
        <small class="text-muted">Request ID: @Model.RequestId</small>
    </div>
}
